.content__login {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	background-color: #fff;
}
.content__login .formLogin {
	width: 45%;
	height: inherit;
	display: flex;
	align-items: center;
	margin: auto;
}
.formLogin img {
	display: block;

	margin: auto;
	height: 110px;
	transition: transform 0.2s ease-in-out;
}

.formLogin img:hover {
	transform: scale(0.9);
}
.formLogin form {
	margin: auto;
	width: 60%;
	padding: 20px 20px 80px 20px;
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 54px -3px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 3px 3px 54px -3px rgba(0, 0, 0, 0.32);
	box-shadow: 3px 3px 54px -3px rgba(0, 0, 0, 0.32);
}
form .cont {
	margin: 30px auto;
	padding: 0px 15px;
}
form .cont label {
	text-transform: uppercase;
	color: #eef1f2;
	text-shadow: 0 1px 5px #000000, 0px -2px 1px #eef1f2;
	font-weight: bold;
	border-bottom: none;
	font-size: 1rem;
}
form .cont input {
	resize: none;
	outline: none;
	border: none;
	padding: 15px 20px;
	border-radius: 0.5em;
	margin: 5px auto;
	background-color: #fff;
	border: 3px solid #c5c5c586;
	border-radius: 5px;
	width: 100%;
}
form .cont input,
input:valid {
	border: 3px solid #c5c5c586;
}
form .cont input:invalid {
	border-color: rgba(255, 0, 0, 0.87);
}

.botton {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
	margin-top: 2rem;
	align-items: center;
}

.botton_txt {
	margin-left: 1em;
	margin-bottom: 0em;
	font-weight: bold;
}
.botton_link {
	display: inline;
	border: none;
	text-align: right;
	text-decoration: blink;
	background: #ffffff;
	color: #000000;
	height: 1.2rem;
	cursor: pointer;
	font-weight: 400;
}
.botton_link:hover {
	font-weight: 300;
}
.formLogin form .btn-registrar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	margin: auto;
	margin-top: 35px;
	width: 40%;
	height: 50px;
	border-radius: 5px;
	background: #2e87cc;
	font-size: 0.68rem;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	-webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.32);
	box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.32);
	outline: none;
	border: none;
	text-decoration: none;
}
.formLogin .btn-register {
	display: inline-block;
	border: none;
	text-decoration: blink;
	height: 1.2rem;
	color: #000000;
	cursor: pointer;
	font-size: 0.8rem;
	padding: 0em;
	font-weight: 400;
}

.formLogin .btn-register:hover {
	color: #1890ff;
	font-weight: 300;
}

.content__login .imgBackground {
	width: 65%;
	height: inherit;
}
.content__login .imgBackground img {
	width: 100%;
	height: 100%;
}
/***/

.switch__content {
	display: flex;
	padding: 20px 15px;
	margin: auto;
	align-items: center;
}

.text {
	margin-left: 1em;
	font-weight: bold;
	margin-bottom: 0em;
}
.legend_text {
	margin-top: 1em;
	text-align: center;
	font-weight: bold;

	font-size: 1.2rem;
	color: #ffffff;
	text-shadow: 0 2px 5px #000000, 0px -2px 3px #000000;
}
.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
	z-index: 3;
}
.ant-tabs-content-holder {
	z-index: 2;
	position: absolute;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
	margin-left: 10px;
}
@media (max-width: 1000px) {
	.content__login {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	}
	.content__login .formLogin {
		width: 80%;
	}
	.content__login .imgBackground {
		display: none;
	}
}
@media (max-width: 500px) {
	.formLogin form {
		width: inherit;
	}
	.content__login .formLogin {
		width: 100%;
	}
}

@media screen and (min-width: 600px) {
	html {
		font-size: 18px;
	}
}
