.site-card-wrapper {
	padding: 30px;
	background: #fafafa;
	width: 90%;
	margin: auto;
	margin-top: 6rem;
	margin-bottom: 1rem;
	text-align: center;
	justify-content: center;
}

.img_package {
	width: 90%;
	height: 220px;
	margin-bottom: 0.5rem;
}

.card-packages {
	cursor: pointer;
}

.card-packages:hover {
	box-shadow: 5px 5px 5px rgb(236, 236, 236);
}
