<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App</title>
        <script src="https://kit.fontawesome.com/8f1a392df7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/empresa.css">
        <link rel="stylesheet" href="./css/slider.css">
        <link rel="stylesheet" href="./css/cards.css">
    </head>
    
    <body>
        <main>
            <section>
                <div class="grid">
                        <article>
                            <img src="../assets/destinations/arequipa.jpg" alt="">
                            <div class="card-text">
                                <h3>Arequipa</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/cajamarca.jpg" alt="">
                            <div class="card-text">
                                <h3>Cajamarca</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/chiclayo.jpg" alt="">
                            <div class="card-text">
                                <h3>Chiclayo</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/cuzco.jpg" alt="">
                            <div class="card-text">
                                <h3>Cuzco</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/ica.jpg" alt="">
                            <div class="card-text">
                                <h3>Ica</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/iquitos.jpg" alt="">
                            <div class="card-text">
                                <h3>Iquitos</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/lima.jpg" alt="">
                            <div class="card-text">
                                <h3>Lima</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/piura.jpg" alt="">
                            <div class="card-text">
                                <h3>Piura</h3>
                            </div>
                        </article>
                        <article>
                            <img src="../assets/destinations/tarapoto.jpg" alt="">
                            <div class="card-text">
                                <h3>Tarapoto</h3>
                            </div>
                        </article>
                    </main>
                </div>
            </section>
        </main>
    </body>
    
    </html>