<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/flyingpoints.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
    <title>Pasajes</title>
</head>

<body>
    <header>
        <nav class="contenedor nav">

            <!--para separarlos mediante margin-->
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <div class="enlaces-header">
                <a href="#">Inicio</a>
                <a href="#">Nosotros</a>
                <a href="#">Portafolio</a>
                <a href="#">Documentación</a>
                <a href="#">Regístrate</a>
            </div>
            <div class="hamburguer">
                <!--  <i class="fas fa-bars"></i> -->
            </div>

        </nav>
    </header>
    <div class="container">
        <section class="flying-header">
            <div class="flying-header-top">
                <div>
                    <p>
                        <input type="checkbox" id="test" />
                        <label for="test">Aéreos</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test2" />
                        <label for="test2">Terrestres</label>
                    </p>
                </div>
                <input type="text" name="" id="" value="" placeholder="Fecha de Inicio">
                <a href="#" class="button__link">Buscar</a>
            </div>
            <div class="flying-header-botton">
                <select name="categorias" class="title-size-16">
					<option value="1">Precio</option>
					<option value="2">Más Vendido</option>
				</select>
            </div>
        </section>
        <section class="flying-cards">
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>

        </section>
    </div>
    <footer>
        <div class="partFooter">
            <img src="img/logo.png" alt="">
        </div>
        <div class="partFooter">
            <h4>Servicios</h4>
            <a href="#">Services 1</a>
            <a href="#">Services 2</a>
            <a href="#">Services 3</a>

        </div>
        <div class="partFooter">
            <h4>Acerca de</h4>
            <a href="#">Services 1</a>
            <a href="#">Services 2</a>
            <a href="#">Services 3</a>
        </div>
        <div class="partFooter">
            <h4>Redes Sociales</h4>
            <div class="social-media">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>

            </div>
        </div>
    </footer>
</body>

</html>