<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/flyingpoints.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script src="https://kit.fontawesome.com/8f1a392df7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
    <title>Pasajes</title>
</head>

<body>

    <header>
        <nav class="contenedor nav">

            <!--para separarlos mediante margin-->
            <div class="logo">
                <a href="./index.html">
                <img src="img/logo.png" alt="">
                </a>
            </div>
            <button class="menu-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 24 24">
                    <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
                </svg>
                <svg class="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
                </svg>
            </button>
            <div class="enlaces-header">
                <a href="./index.html">Inicio</a>
                <a href="./destinations.html">Destino</a>
                <a href="./flyingpoints.html">Punto</a>
                <a href="./itinerary.html">Itinerario</a>
                <a href="./login.html">Regístrate</a>
            </div>
            <div class="hamburguer">
                <!--  <i class="fas fa-bars"></i> -->
            </div>

        </nav>
    </header>
    <main class="container">
        <section class="flying-header">
            <div class="flying-header-top">
                <div class="flying-check">
                    <p>
                        <input type="checkbox" id="test" />
                        <label for="test">Aéreos</label>
                    </p>
                    <p>
                        <input type="checkbox" id="test2" />
                        <label for="test2">Terrestres</label>
                    </p>
                </div>
                <input type="text" name="" id="" value="" placeholder="Fecha de Inicio">
                <a href="#" class="button__link">Buscar</a>
            </div>
            <div class="flying-header-option">
                <select name="categorias" class="title-size-16">
					<option value="1">Precio</option>
					<option value="2">Más Vendido</option>
				</select>
            </div>
        </section>
        <section class="flying-cards">
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>
            <article class="flying-card">
                <div class="flying-card-body color-principal">
                    <div><span class="title-size-26">6:55 <span class="color-gray">LIM</span> </span>
                    </div>
                    <div class="color-gray">
                        <div><span class="title-size-14">Duración</span></div>
                        <div><span class="title-size-16">33 h 35 min</span></div>
                    </div>
                    <div><span class="title-size-26">15:30 </span><sup class="title-size-14">+1</sup><span class="title-size-26 color-gray">MEX</span>
                    </div>
                </div>
                <hr>
                <div class="flying-card-footer ">
                    <span class="title-size-16 color-secondary">1 parada*</span>
                    <div>
                        <div><span class="title-size-14 color-gray">Adulto desde</span></div>
                        <div><span class="title-size-20">USD 1373.57</span></div>
                    </div>
                    <a href="#" class="button__link">Seleccionar</a>
                </div>
            </article>

        </section>
    </main>
    <footer>
        <div class="fotterContainer">
            <div class="partFooter">
                <img src="img/logo.png" alt="">
            </div>
            <div class="partFooter">
                <h4>Contáctanos</h4>
                <a class="color-white" href="tel:933333333">(+051) 933 333 333</a>
                <a class="color-white" href="tel:92222222">(+051) 922 222 222</a>
                <a href="mailto:tours@tours.com">tours@tours.com</a>
            </div>
            <div class="partFooter">
                <h4>Encuéntranos</h4>
                <strong><span>Dirección</span></strong>
                <a href="#">Los Ángeles 713, Piura, Perú</a>
            </div>
            <div class="partFooter">
                <h4>Redes Sociales</h4>
                <div class="social-media">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </footer>
    <script src="./menu.js"></script>
  
</body>

</html>