<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/empresa.css">
</head>

<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <section></section>
        <section></section>
        <section>
            <h2 class="title">Nuestros Principales Aliados</h2>
            <article class="carousel">
                <ul class="slides">
                    <li class="slide">
                        <img class="img-empresa" src="../assets/civa.jpg" alt="empresa 1">
                    </li>
                    <li class="slide">
                        <img class="img-empresa" src="../assets/cruz_sur.jpg" alt="empresa 2">
                    </li>
                    <li class="slide">
                        <img class="img-empresa" src="../assets/tatito.png" alt="empresa 3">
                    </li>
                    <li class="slide">
                        <img class="img-empresa" src="../assets/machu_picchu.png" alt="empresa 4">
                    </li>
                    <li class="slide">
                        <img class="img-empresa" src="../assets/mundi_travel.jpg" alt="empresa 3">
                    </li>
                    <li class="slide">
                        <img class="img-empresa" src="../assets/mota_turismo.jpg" alt="empresa 2">
                    </li>
                    <li class="slide">
                        <img class="img-empresa" src="../assets/colombia_lujo.png" alt="empresa 3">
                    </li>
                </ul>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

</html>