<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App</title>
        <script src="https://kit.fontawesome.com/8f1a392df7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/empresa.css">
        <link rel="stylesheet" href="./css/slider.css">
        <link rel="stylesheet" href="./css/itinerary.css">
    </head>
    
    <body>
        <main>
            <section>
                <div class="img-container">
                    <div class="img-container-main">
                        <img src="../assets/destinations/tarapoto_itinerary_example.jpg" alt="">
                    </div>
                    <h3>Tarapoto Aventura 4D/3N</h3>
                </div>
                <div class="itinerary-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lacus et lectus sagittis pulvinar a at justo. Nam lectus tortor, convallis vel libero at, tincidunt porta dui. Fusce varius accumsan nunc, id hendrerit tellus. Morbi aliquet, urna sit amet posuere faucibus, leo lacus tristique erat, et sodales odio erat non metus. Vestibulum elementum augue nec nisl sollicitudin venenatis. Curabitur rutrum tempor dui sit amet molestie. Curabitur eu elementum metus. Curabitur sodales nisl vitae sapien maximus ullamcorper. Duis convallis turpis sapien, quis luctus quam hendrerit et. Quisque congue erat ac interdum egestas. Sed urna justo, mollis ac egestas nec, tempor.</p>
                </div>
            </section>

            <section>
                <div class="grid">
                    <article>
                        <div class="card-title">
                            <h3>Día 1</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="card-title">
                            <h3>Día 2</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="card-title">
                            <h3>Día 3</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="card-title">
                            <h3>Día 4</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </body>
    
    </html>