<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App</title>
        <script src="https://kit.fontawesome.com/8f1a392df7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/empresa.css">
        <link rel="stylesheet" href="./css/slider.css">
        <link rel="stylesheet" href="./css/itinerary.css">
    </head>
    
    <body>
        <header>
            <nav class="contenedor nav">
    
                <!--para separarlos mediante margin-->
                <div class="logo">
                    <a href="./index.html">
                    <img src="img/logo.png" alt="">
                    </a>
                </div>
                <button class="menu-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 24 24">
                        <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
                    </svg>
                    <svg class="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
                    </svg>
                </button>
                <div class="enlaces-header">
                    <a href="./index.html">Inicio</a>
                    <a href="./destinations.html">Destino</a>
                    <a href="./flyingpoints.html">Punto</a>
                    <a href="./itinerary.html">Itinerario</a>
                    <a href="./login.html">Regístrate</a>
                </div>
                <div class="hamburguer">
                    <!--  <i class="fas fa-bars"></i> -->
                </div>
    
            </nav>
        </header>
        <main>
            <section>
                <div class="img-container">
                    <div class="img-container-main">
                        <img src="../assets/destinations/tarapoto_itinerary_example.jpg" alt="">
                    </div>
                    <h3>Tarapoto Aventura 4D/3N</h3>
                </div>
                <div class="itinerary-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lacus et lectus sagittis pulvinar a at justo. Nam lectus tortor, convallis vel libero at, tincidunt porta dui. Fusce varius accumsan nunc, id hendrerit tellus. Morbi aliquet, urna sit amet posuere faucibus, leo lacus tristique erat, et sodales odio erat non metus. Vestibulum elementum augue nec nisl sollicitudin venenatis. Curabitur rutrum tempor dui sit amet molestie. Curabitur eu elementum metus. Curabitur sodales nisl vitae sapien maximus ullamcorper. Duis convallis turpis sapien, quis luctus quam hendrerit et. Quisque congue erat ac interdum egestas. Sed urna justo, mollis ac egestas nec, tempor.</p>
                </div>
            </section>

            <section>
                <div class="grid">
                    <article>
                        <div class="card-title">
                            <h3>Día 1</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="card-title">
                            <h3>Día 2</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="card-title">
                            <h3>Día 3</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="card-title">
                            <h3>Día 4</h3>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor urna mi, eget efficitur nibh lobortis a. Duis nec sodales neque, et posuere odio. Donec metus nulla, varius nec erat non, dapibus facilisis quam. Integer vehicula dui at nisl posuere, ut dapibus lectus gravida. Aliquam vel quam in massa molestie.</p>    
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum rutrum urna.</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <div class="fotterContainer">
                <div class="partFooter">
                    <img src="img/logo.png" alt="">
                </div>
                <div class="partFooter">
                    <h4>Contáctanos</h4>
                    <a class="color-white" href="tel:933333333">(+051) 933 333 333</a>
                    <a class="color-white" href="tel:92222222">(+051) 922 222 222</a>
                    <a href="mailto:tours@tours.com">tours@tours.com</a>
                </div>
                <div class="partFooter">
                    <h4>Encuéntranos</h4>
                    <strong><span>Dirección</span></strong>
                    <a href="#">Los Ángeles 713, Piura, Perú</a>
                </div>
                <div class="partFooter">
                    <h4>Redes Sociales</h4>
                    <div class="social-media">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        </footer>
        <script src="./menu.js"></script>
    </body>
    
    </html>