<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <section>
        <div class="formLogin">
          
            <form  action="" method="post">
                <img src="img/logo.png" alt="">
                <div class="switch-button">
                    <input type="checkbox"   id="check" class="switch-button__checkbox"  >
                    <label for="check" class="switch-button__label"></label>
                    <h4 class="text">Iniciar Sesion como Empresa</h4>
                </div>
                <div class="cont">
                <label for="user">Email or Username</label>
                <input  type="text" id="user" placeholder="Ingrese su Email o su nombre de Usuario"/>
                 </div>  
                 <div class="cont">
                 <label for="password">Password</label>
                    <input   type="password"  id="password" placeholder="Ingrese la Contraseña"/>
                </div> 
                <div class="botton">
                    <button class="btn-ingresar">Ingresar</button>
                    <button class="btn-registrar">Registrarte</button>
                </div> 
            </form>
        </div>
        <div class="imgBackground"></div>
    </section>
</body>
</html>