<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/payments.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script src="https://kit.fontawesome.com/8f1a392df7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
    <title>Pagos</title>
</head>

<body>
    <header>
        <nav class="contenedor nav">

            <!--para separarlos mediante margin-->
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <div class="enlaces-header">
                <a href="#">Inicio</a>
                <a href="#">Nosotros</a>
                <a href="#">Portafolio</a>
                <a href="#">Documentación</a>
                <a href="#">Regístrate</a>
            </div>
            <div class="hamburguer">
                <!--  <i class="fas fa-bars"></i> -->
            </div>

        </nav>
    </header>
    <section class="container">
        <form class="form-pay">
            <div class="header-pay">
                <label class="lbl-title">Pagos</label>
                <hr>
            </div>
            <label for="">
				<input type="text" name="" id="" value="" placeholder="Nombre">
			</label>
            <input type="text" name="" id="" value="" placeholder="Apellido">
            <input type="text" name="" id="" value="" placeholder="Movil">
            <input type="email" name="" id="" value="" placeholder="E-mail">
            <input type="text" name="" id="" value="" placeholder="Número Tarjeta">
            <input type="text" name="" id="" value="" placeholder="Fecha de Vencimiento">
            <input type="text" name="" id="" value="" placeholder="CVV">
            <div class="btn-pagar">
                <a href="#" class="button__link">Pagar</a>
            </div>

        </form>
        <from class="resumen-pay">
            <div class="card-resumen">
                <div class="card-resumen-icon">
                    <img src="../assets/air.svg" alt="">
                </div>
                <div class="card-resumen-information"></div>
            </div>
        </from>
    </section>
    <footer>
        <div class="fotterContainer">
            <div class="partFooter">
                <img src="img/logo.png" alt="">
            </div>
            <div class="partFooter">
                <h4>Contáctanos</h4>
                <a class="color-white" href="tel:933333333">(+051) 933 333 333</a>
                <a class="color-white" href="tel:92222222">(+051) 922 222 222</a>
                <a href="mailto:tours@tours.com">tours@tours.com</a>
            </div>
            <div class="partFooter">
                <h4>Encuéntranos</h4>
                <strong><span>Dirección</span></strong>
                <a href="#">Los Ángeles 713, Piura, Perú</a>
            </div>
            <div class="partFooter">
                <h4>Redes Sociales</h4>
                <div class="social-media">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>