<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <section>
        <div class="formLogin">

            <form action="" method="post">
                <img src="img/logo.png" alt="">

                <legend class="text"> Iniciar Sesion como Empresa</legend>

                <div class="cont">
                    <label for="razon">Razón Social</label>
                    <input type="text" id="razon" placeholder="Ingrese la Razon Social" />
                </div>
                <div class="cont">
                    <label for="ruc">Ruc</label>
                    <input type="text" id="ruc" placeholder="Ingrese la Contraseña" />
                </div>
                <div class="cont">
                    <label for="description">Descripción</label>
                    <textarea type="text" id="description"    cols="50" rows="5" placeholder="Escribe la descripción" ></textarea> 
                </div>
                <div class="cont">
                    <label for="telphone">Teléfono</label>
                    <input type="tel" id="telphone" placeholder="Ingrese número de Telefono" />
                </div>
                <!-- <div class="cont">
                    <label for="user">Email or Username</label>
                    <input type="text" id="user" placeholder="Ingrese su Email o su nombre de Usuario" />
                </div> -->


                <button class="btn-registrar">Registrarte</button>

            </form>
        </div>
        <div class="imgBackground"></div>
    </section>
</body>

</html>