@import url("index.css");

/*
elemento{
 
    background:var(--title);
}
*/

header{
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgb(46, 71, 39,.2);
    position: fixed;
   
    top: 0;
 z-index: 3;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: inherit;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}
.nav .logo{
    height: 60px;
}
.nav .logo img{
        background: rgb(255, 255, 255);
        height: 100%;
        vertical-align: top;
}
 
.enlaces-header a{
    color :var(--text);
    text-decoration: none;
    margin-left: 20px;
   
}
