/*generales para el html*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color1: #81C76D;/*fondos,etc*/
    --color3: #4F7A43;/*fondos,etc*/
    --title: #80917B;/*title*/
    --text: #B0C7A9;/*text*/
    --borderCss: #2E4727;/*bordes*/
    }
.contenedor{/*para centrar elementos padres ejempl:section>div*/
        width: 90%;
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        
    }
