.nav {
	display: flex;
	justify-content: space-around;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999;
}
.nav-scroll {
	border-bottom: solid 1px #e8e8e8;
	background-color: white;
	font-size: 1.1rem;
}
.logo img {
	height: 40px;
}
.text-logo {
	align-self: center;
}
.menus {
	flex: 1 1;
	display: flex;
	justify-content: space-between;
}
.menu {
	border-bottom: none;
	background-color: transparent;
}
.menu a {
	color: white !important;
	font-weight: 600;
}

.menu a:hover {
	color: #042458 !important;
}

@media screen and (max-width: 600px) {
	.menus {
		display: none;
	}
}
