:root {
	--txt: #e8e4e6;
}

.footer {
	background: var(--background);

	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
}

.partFooter {
	width: 50%;
	margin: auto;
	text-align: center;
}

.partFooter img {
	width: 150px;
	height: 150px;
}

.fotterContainer {
	text-align: center;
}

.partFooter h4 {
	color: var(--txt);
	font-size: 1rem;
	font-family: verdana;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
	text-shadow: 0.5px 0.5px 0.5px var(--color3),
		0.5px 1px 0.5px var(--color3), 0.5px 0.7px 0.5px var(--color3),
		0.5px 1px 0.5px var(--color3), 0.5px 1.8px 0.5px var(--color3),
		0.5px 1.5px 0.5px var(--color3), 0.5px 1.5px 0.5px var(--color3),
		0.5px 2px 0.5px var(--color3), 0.5px 2.5px 0.5px var(--color3),
		0.5px 2.5px 0.5px var(--color3), 0.5px 4.5px 3px #2e472760,
		0.5px 4px 5px#2e472760, 0.5px 7.5px 17.5px #2e472760,
		0.5px 7px 30px #2e472760;
}

.partooter img {
	width: 70%;
}

.partFooter a {
	display: block;
	text-decoration: none;
	color: var(--txt);
	font-weight: 300;
	margin-bottom: 10px;
}

.partFooter a:hover {
	color: #abd1c6;
}

.partFooter > strong > span {
	display: block;
	text-decoration: none;
	color: var(--txt);
	font-weight: 300;
	margin-bottom: 10px;
}

.social-media,
.partFooter {
	text-align: center;
}

.social-media .i {
	text-align: center;

	display: inline-block;
	color: var(--color3);
	padding: 5px;

	border-radius: 50%;
	width: 38px;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	margin-right: 5px;
	transition: 0.5s ease-in-out;
}

.social-media .i:hover {
	color: var(--color3);

	background: #e16162;
	color: #fff;
}

@media screen and (min-width: 760px) {
	footer > * {
		max-width: 1200px;
	}
	.partFooter {
		height: 150px;
		width: 20%;
		margin: auto;
	}
	.fotterContainer {
		background: var(--background);
		padding: 60px 0;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: auto;
		max-width: 1200px;
		width: 100%;
	}
	.partFooter h4 {
		font-size: 1.2rem;
		text-shadow: 0.5px 0.5px 0.5px var(--color3),
			0.5px 1px 0.5px var(--color3), 0.5px 1.4px 0.5px var(--color3),
			0.5px 1px 0.5px var(--color3), 0.5px 2.3px 0.5px var(--color3),
			0.5px 2.8px 0.5px var(--color3), 0.5px 2.5px 0.5px var(--color3),
			0.5px 3px 0.5px var(--color3), 0.5px 3.5px 0.5px var(--color3),
			0.5px 4px 0.5px var(--color3), 0.5px 4px 3px #2e472760,
			0.5px 8px 5px#2e472760, 0.5px 11.5px 17.5px #2e472760,
			0.5px 12px 30px #2e472760;
	}
}
